[submodule "pytorch-constrained-opt"]
	path = pytorch-constrained-opt
	url = https://github.com/eelcovdw/pytorch-constrained-opt.git
[submodule "vae_model/pytorch-made"]
	path = vae_model/pytorch-made
	url = https://github.com/karpathy/pytorch-made.git
[submodule "vae_model/pixel-cnn-pp"]
	path = vae_model/pixel-cnn-pp
	url = https://github.com/pclucas14/pixel-cnn-pp.git
[submodule "sylvester-flows"]
	path = sylvester-flows
	url = https://github.com/riannevdberg/sylvester-flows.git
[submodule "torch-two-sample"]
	path = torch-two-sample
	url = https://github.com/josipd/torch-two-sample.git
[submodule "Pyro_BDA"]
	path = analysis/bda_models/Pyro_BDA
	url = https://github.com/probabll/bda.git
